body {
    background-color: #efefef;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 85%;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #4d4d4d;
}

header div {
    display: inline-block;
}
header li {
    display: inline-block;
    border-bottom: 6px solid #dbdbdb;
}
header li:hover {
    border-bottom: 6px solid #4d4d4d;
}
header .logo {
    font-size: 40px;
}
header .search

.fontThin {
    font-weight: 100;
    font-style: normal;
}

.fontLight {
    font-weight: 300;
    font-style: normal;
}

.fontRegular {
    font-weight: 400;
    font-style: normal;
}

.fontMedium {
    font-weight: 500;
    font-style: normal;
}

.fontBold {
    font-weight: 700;
    font-style: normal;
}

.fontThinItalic {
    font-weight: 100;
    font-style: italic;
}

.fontMediumItalic {
    font-weight: 500;
    font-style: italic;
}